
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
body {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  color: #9C9C9C;
}

a {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-decoration: none;
  color: #9C9C9C;
}

a:hover {
  text-decoration: none;
  color: #27aae1;
}

a:focus {
  text-decoration: none;
}

button {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
}

button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #111111;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 1.8;
}

p:last-child {
  margin-bottom: 0;
}

/* img {
  max-width: 50%;
  height: auto;
} */

.form-control {
  height: 55px;
  color: #27aae1;
  border: 1px solid #d7d7d7;
  background-color: transparent;
  border-radius: 0;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
}

.form-control::-webkit-input-placeholder {
  color: #676a6a;
}

.form-control:-ms-input-placeholder {
  color: #676a6a;
}

.form-control::-ms-input-placeholder {
  color: #676a6a;
}

.form-control::placeholder {
  color: #676a6a;
}

.form-control:focus {
  color: #000000;
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 0;
  border: 1px solid #27aae1;
}

.form-control:hover:focus, .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

textarea.form-control {
  height: auto;
}

.pb-40 {
  padding-bottom: 40px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-54 {
  padding-top: 54px;
}

.ptb-54 {
  padding-top: 54px;
  padding-bottom: 54px;
}

.pb-54 {
  padding-bottom: 54px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-minus-100 {
  margin-top: -100px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.gap-20 {
  margin-bottom: 20px;
}

.gap-24 {
  margin-bottom: 24px;
}

.gap-30 {
  margin-bottom: 30px;
}

/*
Bg-color Style*/
.bg-color {
  background-color: #f9fafb;
}

/*
Default Btn Area Style*/
.default-btn {
  font-size: 15px;
  color: #ffffff;
  line-height: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-table;
  padding: 16px 30px;
  font-weight: 400;
  background-color: #27aae1;
}

.default-btn.radius-btn {
  border-radius: 4px;
}

.default-btn i {
  position: relative;
  top: 1.70px;
  margin-right: 5px;
}

.default-btn::before, .default-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.default-btn::after {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.default-btn:hover {
  color: #ffffff;
}

.default-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.default-btn:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.section-title{
  text-align: center;
}


/*
Read More Btn Area Style*/
.read-more {
  font-size: 15px;
  color: #111111;
}

.read-more i {
  position: relative;
  top: 3px;
}

.read-more:hover {
  color: #27aae1;
  letter-spacing: 1px;
}

/*
Section Title Area Style*/
.section-title {
  margin-bottom: 30px;
  margin-top: -5px;
  position: relative;
  text-align: center;
  color: rgb(167, 167, 167);

}

.section-title span {
  font-size: 25px;
  color: #27aae1;
  /* display: block;
  margin-bottom: 5px; */
 text-transform: capitalize;
}

.section-title h2 {
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  color: rgb(167, 167, 167);
  text-transform: capitalize;
}

.section-title h2:last-child {
  margin-bottom: 0;
}

.section-title p {
  max-width: 600px;
  margin: auto;
}

.section-title .read-more {
  position: absolute;
  top: 5px;
  right: 0;
}

.section-title.white-title span {
  color: #27aae1;
}

.section-title.white-title h2 {
  color: #ffffff;
}

.section-title.white-title p {
  color: #ffffff;
}

/*
Header Area Style
======================================================*/
.top-header {
  background-color: #f8f8f9;
  padding-top: 15px;
  padding-bottom: 15px;
}


.logo img {
  max-width: 50%;
  height: auto;
}

.top-header .header-left-content {
  line-height: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-header .header-left-content li {
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
  color: #555555;
}

.top-header .header-left-content li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.top-header .header-left-content li:last-child::before {
  display: none;
}

.top-header .header-left-content li::before {
  content: "";
  position: absolute;
  top: 1px;
  right: -3px;
  width: 1px;
  height: 100%;
  background-color: #dddddd;
}

.top-header .header-left-content li a {
  color: #555555;
  font-size: 15px;
}

.top-header .header-left-content li a span {
  color: #27aae1;
}

.top-header .header-left-content li a:hover {
  color: #27aae1;
}

.top-header .header-left-content li a i {
  font-size: 16px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #27aae1;
  text-align: center;
  border-radius: 50%;
  line-height: 1;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.top-header .header-left-content li a:hover i {
  color: #27aae1;
}

.top-header .header-left-content li:last-child {
  margin-right: 0;
}

.top-header .header-right-content {
  line-height: 1;
  float: right;
  position: relative;
  top: -2px;
}

.top-header .header-right-content .navbar-option-language {
  position: relative;
  top: 2px;
}

.top-header .header-right-content .navbar-option-language button {
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #111111;
}

.top-header .header-right-content .navbar-option-language button img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  max-width: 35px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  margin-right: 10px;
}

.top-header .header-right-content .navbar-option-language .dropdown-toggle:after {
  content: "\ea4e";
  font-family: 'remixicon' !important;
  font-size: 20px;
  margin-left: 5px;
  border: 0;
}

.top-header .header-right-content .navbar-option-language .dropdown-menu {
  margin: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  display: block !important;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  right: 0;
  left: auto;
  border-radius: 0;
  padding: 8px 0;
  border: none;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  -webkit-transform: translate(-77px, 20px) !important;
          transform: translate(-77px, 20px) !important;
}

.top-header .header-right-content .navbar-option-language .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-size: 15px;
}

.top-header .header-right-content .navbar-option-language .dropdown-menu .dropdown-item img {
  max-width: 25px;
  width: 25px;
  margin-right: 10px;
}

.top-header .header-right-content .navbar-option-language .dropdown-menu .dropdown-item:hover {
  color:#27aae1;
  background-color: transparent;
}

.top-header .header-right-content .navbar-option-language .dropdown-menu .dropdown-item:focus {
  color: #27aae1;
  background-color: transparent;
}

.top-header .header-right-content .navbar-option-language .dropdown-menu.show {
  -webkit-transform: translateY(26px);
          transform: translateY(26px);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.top-header .header-right-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

.top-header .header-right-content ul li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  padding-right: 15px;
}

.top-header .header-right-content ul li::before {
  content: "";
  position: absolute;
  top: 1px;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: #dddddd;
}

.top-header .header-right-content ul li a {
  font-size: 15px;
  color: #555555;
}

.top-header .header-right-content ul li a:hover {
  color: #27aae1;
}

.top-header .header-right-content ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.top-header .header-right-content ul li:last-child::before {
  display: none;
}

.top-header .header-right-content ul li .usd select {
  background-color: transparent;
  border: none;
}

.top-header .header-right-content ul li .usd select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.middle-header .search-box {
  position: relative;
}

.middle-header .search-box .form-control {
  border-radius: 4px;
  border-color: #27aae1;
}

.middle-header .search-box .form-control::-webkit-input-placeholder {
  color: #dddddd;
}

.middle-header .search-box .form-control:-ms-input-placeholder {
  color: #dddddd;
}

.middle-header .search-box .form-control::-ms-input-placeholder {
  color: #dddddd;
}

.middle-header .search-box .form-control::placeholder {
  color: #dddddd;
}

.middle-header .search-box .search-btn {
  position: absolute;
  top: 3px;
  right: 2px;
  padding: 0 20px;
  background-color: #27aae1;
  color: #ffffff;
  border-radius: 4px;
  line-height: 1;
  padding: 16px 15px;
}

.middle-header .search-box .search-btn i {
  position: relative;
  top: 2px;
}

.middle-header .wish-cart {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
  position: relative;
  top: -3px;
}

.middle-header .wish-cart li {
  display: inline-block;
  margin-right: 30px;
}

.middle-header .wish-cart li:last-child {
  margin-right: 0;
}

.middle-header .wish-cart li a, .middle-header .wish-cart li .cart {
  position: relative;
  color: #111111;
  display: block;
  padding-left: 65px;
  font-weight: 500;
  cursor: pointer;
}

.middle-header .wish-cart li a .wish-icon, .middle-header .wish-cart li .cart .wish-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.middle-header .wish-cart li a .wish-icon i, .middle-header .wish-cart li .cart .wish-icon i {
  font-size: 26px;
  background-color: #fff1e8;
  color: #27aae1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.middle-header .wish-cart li a .wish-icon .count, .middle-header .wish-cart li .cart .wish-icon .count {
  position: absolute;
  top: 0;
  right: -5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #27aae1;
  color: #ffffff;
  font-size: 12px;
  border-radius: 50%;
}

.middle-header .wish-cart li a .favorite, .middle-header .wish-cart li .cart .favorite {
  display: block;
  color: #9C9C9C;
  font-size: 15px;
  font-weight: normal;
}

.middle-header.middle-header-style-two {
  border-bottom: none;
}


/*
Navbar Area Style
======================================================*/
.navbar-area {
  position: relative;
}

.navbar-area .navbar-brand {
  margin-right: 0;
}

.navbar-area.is-sticky {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-area.is-sticky .navbar-category-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  max-height: 435px;
}

.navbar-area.is-sticky .navbar-category-dropdown.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.navbar-area.navbar-area-style-two .desktop-nav {
  background-color: #27aae1;
}

.navbar-area.navbar-area-style-two .desktop-nav .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.navbar-area.navbar-area-style-two .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #111111;
}

.navbar-area.navbar-area-style-two .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .navbar-area.navbar-area-style-two .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #27aae1;
}

.navbar-area.navbar-area-style-two .desktop-nav .navbar .others-options span {
  color: #ffffff;
}

.navbar-area.navbar-area-style-two .navbar-category button {
  background-color: #ffffff;
  color: #27aae1;
}

.only-home-one-sticky {
  position: relative;
}

.only-home-one-sticky .navbar-brand {
  margin-right: 0;
}

.only-home-one-sticky.is-sticky {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.only-home-one-sticky.is-sticky .navbar-category-dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  max-height: 435px;
}

.only-home-one-sticky.is-sticky .navbar-category-dropdown.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.desktop-nav {
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
}

.desktop-nav .navbar {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 2;
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.desktop-nav .navbar ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.desktop-nav .navbar .navbar-nav {
  margin-left: 24px;
  margin-right: auto;
}

.desktop-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 0;
  padding-left: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item a {
  font-size: 15px;
  color: #111111;
  line-height: 1;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.desktop-nav .navbar .navbar-nav .nav-item a:hover, .desktop-nav .navbar .navbar-nav .nav-item a:focus, .desktop-nav .navbar .navbar-nav .nav-item a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item a:hover:before, .desktop-nav .navbar .navbar-nav .nav-item a:focus:before, .desktop-nav .navbar .navbar-nav .nav-item a.active:before {
  width: 100%;
  left: 0;
  right: auto;
}

.desktop-nav .navbar .navbar-nav .nav-item a i {
  font-size: 18px;
  line-height: 0;
  position: relative;
  top: 4px;
}

.desktop-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item:hover a, .desktop-nav .navbar .navbar-nav .nav-item:focus a, .desktop-nav .navbar .navbar-nav .nav-item.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  position: absolute;
  visibility: hidden;
  border-radius: 0;
  display: block;
  width: 250px;
  border: none;
  z-index: 99;
  opacity: 0;
  top: 80px;
  left: 0;
  padding: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #111111;
  padding: 15px;
  border-bottom: 1px dashed #eeeeee;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  display: block;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:before {
  display: none;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  float: right;
  top: 7px;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #111111;
  border-bottom: 1px dashed #eeeeee;
  font-size: 14px;
  line-height: 1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #000000;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #000000;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #000000;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #000000;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #000000;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -1px;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  top: -1px;
  visibility: visible;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  top: -15px;
  visibility: visible;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child a {
  border-bottom: none;
}

.desktop-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  top: 80%;
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}

.desktop-nav .navbar .navbar-nav .nav-item:hover.mega-menu .dropdown-menu {
  pointer-events: auto;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu {
  position: unset;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu {
  left: 0;
  right: 0;
  top: 80%;
  width: 100%;
  margin: auto;
  padding: 25px;
  margin-top: 0;
  position: absolute;
  -webkit-transform: unset !important;
          transform: unset !important;
  pointer-events: none;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu .menu-img {
  background-image: url(../../assets/images/menu-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: block;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu-title {
  position: relative;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 25px;
  margin-top: -2px;
  font-weight: 600;
  font-size: 18px;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu-title::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #27aae1;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu li a {
  border-bottom: 1px dashed #eeeeee;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu li:first-child a {
  padding-top: 0;
}

.desktop-nav .navbar .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu li:last-child a {
  border-bottom: none;
  padding-bottom: 0;
}

.desktop-nav .navbar .navbar-nav.mr-auto {
  margin-right: auto;
  margin-left: 125px;
}

.desktop-nav .navbar .others-options span {
  color: #111111;
  font-size: 15px;
}

.mobile-responsive-nav {
  display: none;
}

.navbar-category button {
  background-color: #27aae1;
  width: 320px;
  padding: 21px 25px;
  color: #ffffff;
  text-align: left;
}

.navbar-category button i {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.navbar-category button .arrow-down {
  float: right;
  position: relative;
  right: -8px;
}

.navbar-category-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 320px;
  max-height: 541px;
  overflow: auto;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.navbar-category-dropdown.dropdown-menu {
  margin: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar-category-dropdown.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  padding: 0;
  border-radius: 0;
}

.navbar-category-dropdown::-webkit-scrollbar {
  width: 5px;
}

.navbar-category-dropdown::-webkit-scrollbar-thumb {
  background: #a2a2a2;
}

.navbar-category-dropdown::-webkit-scrollbar-track {
  background: #e2e2e2;
}

.navbar-category-dropdown ul {
  border: 1px solid #e7e7e7;
  padding-top: 25px;
  padding-bottom: 25px;
  list-style-type: none;
  padding-left: 0;
}

.navbar-category-dropdown ul li {
  padding: 0 25px;
}

.navbar-category-dropdown ul li:last-child a {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.navbar-category-dropdown ul li a {
  display: block;
  color: #3b3b3b;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-size: 15px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}


/*
hero-slider-area Style
=================================================*/




/* .hero-slider-area.hero-slider-area-style-three .offer-tools {
  background-image: url(../../assets/images/offer-tools-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 48%;
  padding: 20px;
  margin-bottom: 24px;
} */

/* .hero-slider-area.hero-slider-area-style-three .offer-tools.bg-2 {
  background-image: url(../../assets/images/offer-tools-2.jpg);
  margin-bottom: 0;
} */

/* .hero-slider-area.hero-slider-area-style-three .offer-tools h3 {
  font-size: 24px;
}

.hero-slider-area.hero-slider-area-style-three .offer-tools h3.ffffff {
  color: #ffffff;
}

.hero-slider-area.hero-slider-area-style-three .offer-tools h3.ff6a00 {
  color: #f3694e;
}

.hero-slider-area.hero-slider-area-style-three .offer-tools .read-more {
  color: #111111;
  margin-top: 20px;
  display: inline-block;
}

.hero-slider-area.hero-slider-area-style-three .offer-tools .read-more:hover {
  color: #f3694e;
} */

.hero-slider {
  max-width: 952px;
  margin-left: auto;
  margin-right: 0;
}

.slider-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 141px;
  padding-bottom: 141px;
}



.slider-item.bg-4 {
  background-image: url(../img/bg-4.jpg);
}


.hero-slider-content {
  padding: 0 50px;
  max-width: 600px;
}

.hero-slider-content span {
  color: #111111;
  display: block;
  margin-bottom: 10px;
}

.hero-slider-content h1 {
  font-size: 40px;
  margin-bottom: 24px;
}

.hero-slider-content p {
  color: #111111;
  margin-bottom: 30px;
}



/*
single-categories- Style
=================================================*/
a {
  text-decoration: none;
}

.single-categories {
  border: 1px solid #dddddd;
  padding: 20px;
  position: relative;
  margin-bottom: 24px;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  padding-right: 180px;
}

.single-categories::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff3ef;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.single-categories.bg-eff5ff::before {
  background-color: #eff5ff;
}

.single-categories.bg-ebf1f5::before {
  background-color: #ebf1f5;
}

.single-categories.bg-ebf9ea::before {
  background-color: #ebf9ea;
}

.single-categories.bg-fff8e5::before {
  background-color: #fff8e5;
}

.single-categories.bg-f3f1ff::before {
  background-color: #f3f1ff;
}

.single-categories img {
  position: absolute;
  top: -4px;
  right: 35px;
  max-width: 145px;
}

.single-categories h3 {
  font-size: 20px;
}

.single-categories h3 a {
  color: #111111;
}

.single-categories span {
  display: block;
  margin-bottom: 20px;
}

.single-categories:hover {
  border-color: #27aae1;
}

.single-categories:hover h3 a {
  color: #27aae1;
}




/* categories */
.icon {
  position: absolute;
  top: 130px;
  left: 45px;
}

.icon ul li{
  list-style: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius:50%;
  text-align: center;
  line-height: 40px;
  background:#27a9e1a9;
  display: none;
}
.card:hover .icon ul li{
  display: inline-block;
  transition: .2s;
}

.icon ul li a {
  color: #fff;
}
.rating{
  color: #f3694e;
  font-size: 14px;
}

hr{
  width: 80px;
  margin: auto;
  border: none;
  border-top: 3px solid rgba(8, 122, 113, 0.103);
  margin-bottom: 10px;
}

.product-name p {
  color: #38356f;
  font-weight: 600;
}

.card{
  border: 1px solid #cccc;
 
}
.card:hover{
  box-shadow: 0 0 3px #cccc;
  transform: scale(1.05);
  transition: .5s linear;
  border-color: #27aae1;
}




/*
Footer Area Style
======================================================*/

.footer-area {
  background-color: #272462;
}


.footer-img img {
  width: 50%;
}

.footer-icon {
  color: #fff;
}

.footer-icon i {
  color: #fff;
  position: relative;
  top: 30px;
  margin-right: 9px;
  /* font-size: small; */
}

.footer-icon i:hover{
  color: aqua;
  transition: .5s;
}

.single-footer-widget {
margin-bottom: 24px;
}

.single-footer-widget h3,h6 {
font-size: 16px;
margin-bottom: 15px;
  color: #fff;
}

.single-footer-widget ul {
padding: 0;
margin: 0;
list-style-type: none;
}
ul.info-list{
  color: #fff;
}


/* .single-footer-widget .info-list {
margin-bottom: 20px;
} */

/* .single-footer-widget .info-list li {
font-size: 14px;
position: relative;
padding-left: 4px;
margin-bottom: 17px;
}

.single-footer-widget .info-list li:last-child {
margin-bottom: 0;
} */




/* .single-footer-widget .import-link li {
margin-bottom: 10px;
}

.single-footer-widget .import-link li:last-child {
margin-bottom: 0;
} */

/* .single-footer-widget .app-btn {
margin-bottom: 20px;
}

.single-footer-widget .app-btn li {
display: inline-block;
margin-right: 10px;
}

.single-footer-widget .app-btn li:last-child {
margin-right: 0;
}

.single-footer-widget .app-btn li a img {
max-width: 115px;
} */


.footer-details img {
  margin-top: 33px;
}


/*
Copy Right Area Style
======================================================*/
.copy-right-area {

padding-top: 15px;
padding-bottom: 15px;
text-align: center;
      background-color: #222;
}

.copy-right-area p  {
color: #ffff;
}
.copy-right-area p a {
color: #fff;
font-weight: 600;
}

.copy-right-area p a:hover {
color: #03658c;
}






